.about_ab {
	text-decoration: underline;

}


.about_me_image {
	height: 200px;
	width: 100%;
	border-radius: 10%;
	opacity: 0.5;
}

.about_me_details {
	flex-direction: column;
}

@media (max-width: 768px) {
	.about_me_image {
		height: 100px;
		width: 100%;
		border-radius: 10%;
		visibility: hidden;

	}
}

@media (max-width: 576px) {
	.about_me_tab {
		margin-left: -25px;
	}
}