.projects_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card_fieldset {
  background-image: url('../assets/backgroung_world.avif');
  background-repeat: no-repeat;

  background-size: cover;
}

@media (max-width: 769px) {
  .projects_container {
    justify-content: center;

  }
}